* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --primary-Blue: #4F46E5;
    --success-Green: #10B981;
    --error-red: #EF4444;
    --mutedText-gray: #c5c8cc;
    --light-gray: #f0f0f0;
}

/* font style */

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.container {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    background-color: var(--light-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    width: 70vh;
    border-radius: 10px;
    padding: 2%;
}

a {
    text-decoration: none;
}

.header-sec {
    padding: 0 50px;
    text-align: center;
}

.card h3 {
    font-family: "PT Sans", sans-serif;
    font-size: larger;
    font-weight: 700;
}

.img-sec {}

.social_icon-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social_icons a {
    font-size: larger;
    margin: 2px;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.10);
    
    border-radius: 50%;
}

.inputs-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp {}

.password {
    display: flex;
    justify-content: center;
}

.password input {
    height: 40px;
    width: 12vw;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: none;
    border: none;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.10);
}

.password input::placeholder {
    color: var(--mutedText-gray);
}

.inp input {
    height: 40px;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    background: none;
    border: none;
    width: 25vw;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.10);
}

.inp input::placeholder {
    color: var(--mutedText-gray);
}

.inp input:focus {
    background-color: var(--mutedText-gray);
    border: none;
}

.display_error {
    padding-left: 20px;
    text-align: start;
    color: var(--mutedText-gray);
}

.password input:focus {
    background-color: var(--mutedText-gray);
    border: none;
}

.inp input:focus::placeholder {
    color: white;
}

.password input:focus::placeholder {
    color: white;
}

.footer-sec {}

.action_btn-sec {
    padding: 10px;
    color: white;
}

.action_btn-sec button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: #4F46E5;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 12vw;
    height: 40px;
    cursor: pointer;
}
.action_btn-sec a {
    color: white;
}